h1 {
	margin: 0.0px 0.0px 16.1px 0.0px; 
	text-align: left; 
	font: 40.0px 'Times New Roman'; 
	-webkit-text-stroke: #000000;
	font-kerning: none
}

h2 {
	margin: 0.0px 0.0px 12.1px 0.0px; 
	text-align: left; 
	font: 34.0px 'Times New Roman'; 
	-webkit-text-stroke: #000000;
	font-kerning: none
	font-weight: bold;
}

h3 {
	margin: 0.0px 0.0px 10.0px 0.0px; 
	text-align: left; 
	font: 26.0px 'Times New Roman'; 
	color: #0000e3; 
	-webkit-text-stroke: #000000; 
	min-height: 18.0px;
	font-weight: bold
}


p.line {margin: 0.0px 0.0px 10.1px 0.0px; text-align: left; font: 26.0px 'Times New Roman'; -webkit-text-stroke: #000000}

p.p4 {margin: 0.0px 0.0px 10.0px 0.0px; text-align: left; font: 20.0px 'Times New Roman'; -webkit-text-stroke: #000000}

li {margin: 0.0px 0.0px 10.0px 0.0px; text-align: left; font: 18.0px 'Times New Roman'; -webkit-text-stroke: #000000}


img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
}